{% extends "ANYWHEREEVERYWHERE/html/layout.html" %}
{% block body %}
<section class="location-section">
    <div class="location-heading">
        <h1>Discover The <span>Beautiful World</span></h1>
    </div>
<div class="location-detail" id="kharghar">
    <h1>KHARGHAR</h1>
 </div>
    <p>Kharghar is a node of Navi Mumbai and it is a suburb under Panvel Municipal Corporation. It is situated at the northernmost tip of Raigad district. It was developed by the City and Industrial Development Corporation (CIDCO). </p>
 </div>

 <div class="location-detail" id="kharghar">
    <h1>ISKCON Temple</h1>
        <div class="star-widget">
            <form action="#" id="review-form">
              <header></header>
              <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience.." id="IskconTemple"></textarea>

              </div>
              <div class="textarea" style="margin: 10px 0 0 0 ;  width:180px; height: 60px; font-size: 15px;" >
                <input type="number" placeholder="Ratings..1-5" id="rating_IskconTemple" min="1" max="5" required>
              </div>

              <div class="btn">
                <button type="button"  onclick="submitReview('ISKCON Temple', document.getElementById('IskconTemple').value , document.getElementById('rating_IskconTemple').value);  clear();">SUBMIT</button>
              </div>
            </form>
        </div>
    <p>ISKCON Kharghar was established in the year 2000, and since then, it has been one of the most popular temples in the city. The temple was built with the aim of providing a spiritual haven to people living in and around Navi Mumbai.The temple’s architecture and design are a blend of traditional and modern elements. The temple’s main entrance leads to a large courtyard that houses a beautiful statue of Lord Krishna. As you enter the main temple, you’ll be greeted with the divine aroma of incense sticks and the sound of the melodious bhajans.</p>
    <div class="location-img">
        <img src="https://lh3.googleusercontent.com/p/AF1QipMjpDKa0-Btr2XGq0_lQMPsIsy_tgULOXE890Ye=w1080-h608-p-no-v0" alt="">
        <img src="https://iskconkharghar.co.in/system/assets/daily_darshans/000/000/930/original/IMG-20210810-WA0007.jpg?1628567890" alt="">
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15084.932786905028!2d73.05720028518319!3d19.053481994622288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c21f0ee8ab0f%3A0xd8be95c492dda44d!2sISKCON%20Kharghar%2C%20Navi%20Mumbai!5e0!3m2!1sen!2sin!4v1678567339636!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 </div>

 <div class="location-detail" id="kharghar">
    <h1>LittleWorld Mall</h1>
       <div class="star-widget">
            <form action="#" id="review-form">
              <header></header>
              <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience.." id="LittleWorldMall"></textarea>

              </div>
              <div class="textarea" style="margin: 10px 0 0 0 ;  width:180px; height: 60px; font-size: 15px;" >
                <input type="number" placeholder="Ratings..1-5" id="rating_LittleWorldMall" min="1" max="5" required>
              </div>

              <div class="btn">
                <button type="button"  onclick="submitReview('LittleWorld Mall', document.getElementById('LittleWorldMall').value , document.getElementById('rating_LittleWorldMall').value);  clear();">SUBMIT</button>
              </div>
            </form>
        </div>
    <p>Little World in Navi Mumbai’s is the most exclusive shopping mall, hosting a variety of the most exciting brands. Fashion, food, film and fun await you in a state-of-the-art shopping environment.Located in an area that is best known for its high-end stores and restaurants.</p>
    <div class="location-img">
        <img src="https://tse2.mm.bing.net/th?id=OIP.rnLYVT79smGSTi2XB05OmQHaFX&pid=Api&P=0" alt="">
        <img src="https://i.ytimg.com/vi/rnuKSOWNbaE/maxresdefault.jpg" alt="">
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15086.99784281534!2d73.05787618517738!3d19.030758594830054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c26a50baff27%3A0x1882f03160f691d!2sLittle%20World%20Mall!5e0!3m2!1sen!2sin!4v1678567974284!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 </div>

 <div class="location-detail" id="kharghar">
    <h1>Pandavkada Waterfalls</h1>
       <div class="star-widget">
            <form action="#" id="review-form">
              <header></header>
              <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience.." id="PandavkadaWaterfalls"></textarea>

              </div>
              <div class="textarea" style="margin: 10px 0 0 0 ;  width:180px; height: 60px; font-size: 15px;" >
                <input type="number" placeholder="Ratings..1-5" id="rating_PandavkadaWaterfalls" min="1" max="5" required>
              </div>

              <div class="btn">
                <button type="button"  onclick="submitReview('Pandavkada Waterfalls', document.getElementById('PandavkadaWaterfalls').value , document.getElementById('rating_PandavkadaWaterfalls').value);  clear();">SUBMIT</button>
              </div>
            </form>
        </div>
    <p>Pandavkada Falls is in Kharghar in Navi Mumbai. The waterfall, about 107 metres high and a popular one day picnic spot. Pandavkada has a small history in Hindu mythology. The place got its name from the Pandavas with a belief that they visited the place and took bath below the falls during their exile exiled in the forests.</p>
    <div class="location-img">
        <img src="https://3.bp.blogspot.com/-VC_y-KksoZA/Uho5rm6fTWI/AAAAAAAADw0/6H_3SuGcRus/s1600/DSC03512.JPG" alt="">
        <img src="https://lh3.googleusercontent.com/p/AF1QipPJQwH4sO54Hn8YmxzGbOXVE2FZOojRqQ5M42Bf" alt="">
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60336.5196629011!2d73.01285113247356!3d19.062309562569446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c184153bcf8b%3A0x22acd9a9e49b708f!2sPandavkada%20Falls!5e0!3m2!1sen!2sin!4v1678568344805!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 </div>

 <div class="location-detail" id="kharghar">
    <h1>Central Park</h1>
       <div class="star-widget">
            <form action="#" id="review-form">
              <header></header>
              <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience.." id="CentralPark"></textarea>

              </div>
              <div class="textarea" style="margin: 10px 0 0 0 ;  width:180px; height: 60px; font-size: 15px;" >
                <input type="number" placeholder="Ratings..1-5" id="rating_CentralPark" min="1" max="5" required>
              </div>

              <div class="btn">
                <button type="button"  onclick="submitReview('Central Park', document.getElementById('CentralPark').value , document.getElementById('rating_CentralPark').value);  clear();">SUBMIT</button>
              </div>
            </form>
        </div>
    <p>Central park is located in Kharghar. It is spacious park where people can plan their picnics. It has a lot of playing and seating area for kids. People also go on for jogging and a walk in this central park.</p>
    <div class="location-img">
        <img src="https://backiee.com/static/wpdb/wallpapers/1920x1080/269535.jpg" alt="">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/CENTRAL_PARK-KHARGHAR.-1.jpg/640px-CENTRAL_PARK-KHARGHAR.-1.jpg" alt="">
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30169.443956161147!2d73.04084905314703!3d19.05580021866427!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c391a37f9281%3A0x52ab33f0b3449ace!2sCentral%20Park%20Kharghar!5e0!3m2!1sen!2sin!4v1678568849383!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 </div>

 <div class="location-detail" id="kharghar">
    <h1>Kharghar Hills</h1>
       <div class="star-widget">
            <form action="#" id="review-form">
              <header></header>
              <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience.." id="KhargharHills"></textarea>

              </div>
              <div class="textarea" style="margin: 10px 0 0 0 ;  width:180px; height: 60px; font-size: 15px;" >
                <input type="number" placeholder="Ratings..1-5" id="rating_KhargharHills" min="1" max="5" required>
              </div>

              <div class="btn">
                <button type="button"  onclick="submitReview('Kharghar Hills', document.getElementById('KhargharHills').value , document.getElementById('rating_KhargharHills').value);  clear();">SUBMIT</button>
              </div>
            </form>
        </div>
    <p>Beautiful place to visit and the best place to visit with friends.Highly recommended during weekends.Kharghar bird watching area is a hidden paradise and a gem of a place for bird watchers and wildlife photographers. Still new to the tourists and other wildlife and birding crowd means, this place is not disturbed and hence one can easily see a variety of species on a given day.</p>
    <div class="location-img">
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/0d/2c/37/df/kharghar-hills-in-between.jpg" alt="">
        <img src="https://i1.wp.com/azureskyfollows.com/wp-content/uploads/2017/11/28-azure-sky-follows-tania-mukherjee-banerjee-kharghar-mumbai-travel-blog.jpeg?resize=960%2C720" alt="">
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.69265457787!2d73.05004529999998!3d19.033260199999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c336bf98e7ef%3A0x692bad4b29b7111b!2sKharghar%20Hills!5e0!3m2!1sen!2sin!4v1678569178939!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 </div>

 <div class="location-detail" id="kharghar">
    <h1>Utsav Chowk</h1>
       <div class="star-widget">
            <form action="#" id="review-form">
              <header></header>
              <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience.." id="UtsavChowk"></textarea>

              </div>
              <div class="textarea" style="margin: 10px 0 0 0 ;  width:180px; height: 60px; font-size: 15px;" >
                <input type="number" placeholder="Ratings..1-5" id="rating_UtsavChowk" min="1" max="5" required>
              </div>

              <div class="btn">
                <button type="button"  onclick="submitReview('Utsav Chowk', document.getElementById('UtsavChowk').value , document.getElementById('rating_UtsavChowk').value);  clear();">SUBMIT</button>
              </div>
            </form>
        </div>
    <p>Utsav Chowk is a landmark structure located at Kharghar, Navi Mumbai. What makes it distinct is the Greek architecture style, the structure is designed in, clubbed together with a dainty garden and fountain. It is located at the junction of sectors 4.5 and 7 and acts as a welcoming beacon of Kharghar.

        The architectural beauty of Utsav Chowk is visible during the days, especially during the monsoons when it resembles ancient Greek arenas and amphitheaters covered by dark clouds and lashed upon by the rains. It kind of looks like a Historical place.</p>
    <div class="location-img">
        <img src="https://i.ytimg.com/vi/XXWNq-gd-3w/maxresdefault.jpg" alt="">
        <img src="https://localpress.in/wp-content/uploads/2020/11/94889322_675912066575034_2639598688589047741_n-1024x1009.jpg" alt="">
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15086.501556921035!2d73.05289448517878!3d19.03622199478007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c23fac922405%3A0x5b382bcbba063937!2sUtsav%20Chowk%2C%20Sector%207%2C%20Kharghar%2C%20Navi%20Mumbai%2C%20Maharashtra%20410210!5e0!3m2!1sen!2sin!4v1678569804084!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 </div>

 <div class="location-detail" id="kharghar">
    <h1>Valley Golf Course</h1>
       <div class="star-widget">
            <form action="#" id="review-form">
              <header></header>
              <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience.." id="ValleyGolfCourse"></textarea>

              </div>
              <div class="textarea" style="margin: 10px 0 0 0 ;  width:180px; height: 60px; font-size: 15px;" >
                <input type="number" placeholder="Ratings..1-5" id="rating_ValleyGolfCourse" min="1" max="5" required>
              </div>

              <div class="btn">
                <button type="button"  onclick="submitReview('Valley Golf Course', document.getElementById('ValleyGolfCourse').value , document.getElementById('rating_ValleyGolfCourse').value);  clear();">SUBMIT</button>
              </div>
            </form>
        </div>
    <p>The Kharghar Valley golf club is a 9 hole course in immaculate condition and is a suitable option for golfers wishing to play a round of golf in Mumbai. It is a long course with a length of 3665 yards and makes for an enjoyable round of golf. Since the golfing options in Mumbai are so limited with just a couple of member exclusive courses, if you are in the Navi Mumbai area or don’t mind a longer drive, the Kharghar Valley Golf Course is the perfect option for golfing in Mumbai.</p>
    <div class="location-img">
        <img src="https://tse2.mm.bing.net/th?id=OIP.MDhnxXw3lE13Jph3TVsfgwHaEK&pid=Api&P=0" alt="">
        <img src="https://tse3.mm.bing.net/th?id=OIP.yb1HK3GNI8GSIoVqcfD01wHaDE&pid=Api&P=0" alt="">
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15084.830778564063!2d73.05221178518349!3d19.054603794612042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c220f69c5973%3A0x7d21dec210c853cc!2sKharghar%20Golf%20Course%2C%20Kharghar%2C%20Navi%20Mumbai%2C%20Maharashtra%20410210!5e0!3m2!1sen!2sin!4v1678570359428!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 </div>
</section>
{% endblock %}