{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Here</title>
    <link rel="icon" href="https://i.imgur.com/LUXUOM6.png">
    <link rel="stylesheet" type="text/css" href="{% static 'ANYWHEREEVERYWHERE/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body class="register-body">

    <nav>
        <img src="https://i.imgur.com/LUXUOM6.png" class="logo" alt="Logo" title="FirstFlight Travels">

        <ul class="navbar">
            <li>
                <a href="/">Home</a>
                <a href="/locations">Locations</a>
                <a href="/about">About Us</a>
                <a href="/contact">Contact Us</a>
            </li>
        </ul>
    </nav>
            

    <section class="registration">
        <div class="register-form">
            <h1>Login <span>Here</span></h1>
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username" id="username" required><br>
                <input type="password" name="password1" placeholder="password" id="password1" required><br>
                <input type="checkbox" name="t&c" id="t&c" checked required> <br> I accept the Terms & Conditions.
                <br> <br> 
                <input type="submit" value="Submit" class="submitbtn">
            </form>
            {% if message %}
            <div>{{ message }}</div>
            {% endif %}
        </div>
    </section>
    
    </section> -->
<!-- Footer -->

<section class="footer">
    <div class="foot">
        <div class="footer-content">
            
            <div class="footlinks">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="./register.html">Register</a></li>
                    <li><a href="./about.html">About Us</a></li>
                    <li><a href="./contact.html">Contact Us</a></li>
                </ul>
            </div>

    <div class="end">
        <p>Website AnyWhereEveryWhere developed by : <br> Rajkumar Tripat <br> Snehal Borse <br> Amrita Bera</p>
    </div>
</section>

</body>
</html>
    
<!-- JavaScript -->
<script>
    function validateform(){ 
        var tel=document.getElementById("phonenum").value;  

        if(tel.length<10){  
            alert("Phone number must be of atleast 10 digits!");  
            return false;  
        } else if(isNaN(tel)){
            alert("Phone number should not include character!");
            return false;
        }
        return true;
}  
</script>
</body>
</html>
