{% extends "ANYWHEREEVERYWHERE/html/layout.html" %}

{% block body %}
<section class="location-section">
    <div class="location-heading">
        <h1>Discover The <span>Beautiful World</span></h1>
    </div>
 <div class="location-detail" id="nerul">
    <h1>NERUL</h1>
    <p>Nerul is an upmarket residential and commercial node in Navi Mumbai, Maharashtra, India. Nerul is located in the Harbour Line, Trans-Harbour Lines and Nerul-Uran Line of Mumbai local train network where Kharghar and Vashi are the nearby stations. Nerul node is also famous for its parallel-running Palm-Beach Marg. Nerul is quite famous for its gardens like the Rock Garden and state of the art building structures.</p>
 </div>

 <div class="location-detail" id="nerul">
    <h1>-> Rock Garden</h1>
        <div class="star-widget">
            <form action="#" id="review-form">
              <header></header>
              <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience.." id="rockGarden"></textarea>

              </div>
              <div class="textarea" style="margin: 10px 0 0 0 ;  width:180px; height: 60px; font-size: 15px;" >
                <input type="number" placeholder="Ratings..1-5" id="rating_rockGarden" min="1" max="5" required>
              </div>

              <div class="btn">
                <button type="button"  onclick="submitReview('Rock Garden', document.getElementById('rockGarden').value , document.getElementById('rating_rockGarden').value);  clear();">SUBMIT</button>
              </div>
            </form>
        </div>
    <p>Rock Garden is another small park located very close to Nerul Railway Station. Rock Garden is a garden with caves carved out of small rocks which is full of beauty. The park has a children's play area with slides, swings, etc. equipment. There is also a huge statue of the famous Sant Gadge Baba at the top of the foundation stone in the lush greenery spread over 400 square kilometres. There are various rock sculptures of animals in the park which makes this place more interesting for the visitors. You can either take a walk in the garden or just sit on the grass and relax.</p>
    <div class="location-img">
        <img src="https://yometro.com/images/places/rock-garden.jpg" alt="">
        <img src="https://i.pinimg.com/736x/a4/da/12/a4da126a88ef8adf6a937169be99871c.jpg" alt="">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15087.742314139387!2d73.01566797906165!3d19.022560193896044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c3c08bdddca1%3A0x39ab28d99fed16bf!2sRock%20Garden!5e0!3m2!1sen!2sin!4v1678551306720!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
 </div>

 <div class="location-detail" id="nerul">
    <h1>-> Jewels Of Navi-Mumbai </h1>
        <div class="star-widget">
            <form action="#" id="review-form">
              <header></header>
              <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience.." id="jewel-of-navi-mumbai"></textarea>
              </div>

              <div class="textarea" style="margin: 10px 0 0 0 ;  width:180px; height: 60px; font-size: 15px;" >
                <input type="number" placeholder="Ratings..1-5" id="jewels_rating" min="1" max="5" required>
              </div>
              
              <div class="btn">
                <button type="button" onclick="submitReview('JEWELS OF NAVI-MUMBAI', document.getElementById('jewel-of-navi-mumbai').value, document.getElementById('jewels_rating').value )">SUBMIT</button>
              </div>
            </form>
        </div>
    <p>Peaceful, clean, great roads, spot for cycling, jogging, walking or a spot to spend time with friends and family. A good lake view with pleasant environment.The Timings to go their is 5am-10am and 5pm-9pm.</p>
    <div class="location-img">
        <img src="https://content.jdmagicbox.com/comp/mumbai/s5/022pxx22.xx22.191120194343.l8s5/catalogue/jewel-of-navi-mumbai-nerul-navi-mumbai-tourist-attraction-c7r274acei.jpg" alt="">
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/0d/89/31/80/jewel-of-navi-mumbai.jpg" alt="">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.8508910541454!2d73.00970961476543!3d19.02629105847759!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c394860321f7%3A0x968de6a7c71e8b30!2sJewel%20of%20Navi%20Mumbai!5e0!3m2!1sen!2sin!4v1678555713400!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
 </div>

 <div class="location-detail" id="nerul">
    <h1>-> Prashant Corner</h1>
        <div class="star-widget">
            <form action="#" id="review-form">
              <header></header>
              <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience.." id="PrashantCorner"></textarea>

              </div>
              <div class="textarea" style="margin: 10px 0 0 0 ;  width:180px; height: 60px; font-size: 15px;" >
                <input type="number" placeholder="Ratings..1-5" id="rating_PrashantCorner" min="1" max="5" required>
              </div>

              <div class="btn">
                <button type="button"  onclick="submitReview('Prashant Corner', document.getElementById('PrashantCorner').value , document.getElementById('rating_PrashantCorner').value);  clear();">SUBMIT</button>
              </div>
            </form>
        </div>
    <p>Prashant Corner is a very popular Mithai & Farsan retail chain. Headquartered in Thane city, Prashant Corner is synonymous to impeccable quality, taste and hygiene.

        With over 2 decades of expertise and experience, Prashant Corner offers a wide variety of sweets, savories and snacks that transcend the typical to traditional to innovative. Cultural research across Maharashtra, Bengal, Gujarat, Madhya Pradesh and South India has added authentic tastes to a range of Mithai & Farsan that are peculiar of that region.</p>
    <div class="location-img">
        <img src="https://content3.jdmagicbox.com/comp/thane/52/022p1972052/catalogue/prashant-corner-panch-pakhadi-thane-west-thane-prashant-corner-ii3oebuhkw.jpg" alt="">
        <img src="https://i.ytimg.com/vi/Im5fGgYx9uE/maxresdefault.jpg" alt="">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d117622.1503039253!2d72.92889500548523!3d19.15435884532024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c39203f76953%3A0xc6f8a058b4ba1316!2sPrashant%20Corner!5e1!3m2!1sen!2sin!4v1678554488428!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </div>
 </div>


 <div class="location-detail" id="nerul">
    <h1>-> Barbeque Nation </h1>
        <div class="star-widget">
            <form action="#" id="review-form">
              <header></header>
              <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience.." id="BarbequeNation"></textarea>

              </div>
              <div class="textarea" style="margin: 10px 0 0 0 ;  width:180px; height: 60px; font-size: 15px;" >
                <input type="number" placeholder="Ratings..1-5" id="rating_BarbequeNation" min="1" max="5" required>
              </div>

              <div class="btn">
                <button type="button"  onclick="submitReview('Barbeque Nation', document.getElementById('BarbequeNation').value , document.getElementById('rating_BarbequeNation').value);  clear();">SUBMIT</button>
              </div>
            </form>
        </div>

          <!-- <div class="star-widget">
            <input type="radio" name="rate" id="rate-1">
            <label for="rate-1" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-2">
            <label for="rate-2" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-3">
            <label for="rate-3" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-4">
            <label for="rate-4" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-5">
            <label for="rate-5" class="fas fa-star"></label>
            <form action="#" id="review-form">
              <header></header>
              <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience.." id="review-text-Barbeque"></textarea>
              </div>
              <div class="btn">
                <button type="submit" onclick="submitReview('Barbeque Nation', document.getElementById('review-text-Barbeque').value)">SUBMIT</button>
              </div>
            </form>
     </div> -->
     <!-- <script>
          const btn = document.querySelector("button");
          const post = document.querySelector(".post");
          const widget = document.querySelector(".star-widget");
          const editBtn = document.querySelector(".edit");
          btn.onclick = ()=>{
            widget.style.display = "none";
            post.style.display = "block";
            editBtn.onclick = ()=>{
              widget.style.display = "block";
              post.style.display = "none";
            }
            return false;
          }
        </script> -->
    <p>Tucked right in the Beverley Park on Palm Beach Road, Nerul, is a huge outpost of Barbeque Nation that has become a crowd-magnet with the locals. Live grills on each table sizzling with yummy appetizers, a lavish generous multi-cuisine buffet and a cheerful welcoming vibe sums up Barbeque Nation for you. For those who have something romantic in mind for a Special Occasion will find the idea of self-grilling a wonderful way to bond</p>
    <div class="location-img">
        <img src="https://d23ynomj6u3eig.cloudfront.net/sites/default/files/2019-12/Buf%20gallery%20857x491.jpg" alt="">
        <img src="https://d4t7t8y8xqo0t.cloudfront.net/resized/720X280/restaurant%2F220813%2Frestaurant320210109055548.jpg" alt="">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3678.1527645239134!2d73.00672951482983!3d19.0436229579384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c3e4444dfb51%3A0xad37365a78e34e39!2sBarbeque%20Nation%20-%20Navi%20Mumbai%20-%20Nerul!5e1!3m2!1sen!2sin!4v1678553510742!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
 </div>

 <div class="location-detail" id="nerul">
    <h1>-> Parsik Hill </h1>
        <div class="star-widget">
            <form action="#" id="review-form">
              <header></header>
              <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience.." id="Parsikhill"></textarea>

              </div>
              <div class="textarea" style="margin: 10px 0 0 0 ;  width:180px; height: 60px; font-size: 15px;" >
                <input type="number" placeholder="Ratings..1-5" id="rating_Parsikhill" min="1" max="5" required>
              </div>

              <div class="btn">
                <button type="button"  onclick="submitReview('Parsik hill', document.getElementById('Parsikhill').value , document.getElementById('rating_Parsikhill').value);  clear();">SUBMIT</button>
              </div>
            </form>
        </div>
    <p>The Parsik hill is located between Seawoods and Belapur in Navi Mumbai. Small hill with a good view of Navi Mumbai from the top. There is temple also on the top. The residence of Navi Mumbai mayor is also on the top. Morning or evening is the right time to visit </p>
    <div class="location-img">
        <img src="https://im.whatshot.in/img/2021/Oct/dhamma-1633690012.jpg?wm=1&w=1200&h=630&cc=1" alt="">
        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/10/ed/1a/22/arabian-sea.jpg?w=1200&h=-1&s=1" alt="">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1885.9961878028196!2d73.03150605805233!3d19.020057632554174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c3b1c4e4ab45%3A0x1d79819f11737a3b!2sParsik%20Hill!5e0!3m2!1sen!2sin!4v1678553680926!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
 </div>

 <div class="location-detail" id="nerul">
    <h1>-> Belapur Fort </h1>
        <div class="star-widget">
            <form action="#" id="review-form">
              <header></header>
              <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience.." id="BelapurFort"></textarea>

              </div>
              <div class="textarea" style="margin: 10px 0 0 0 ;  width:180px; height: 60px; font-size: 15px;" >
                <input type="number" placeholder="Ratings..1-5" id="rating_BelapurFort" min="1" max="5" required>
              </div>

              <div class="btn">
                <button type="button"  onclick="submitReview('Belapur Fort', document.getElementById('BelapurFort').value , document.getElementById('rating_BelapurFort').value);  clear();">SUBMIT</button>
              </div>
            </form>
        </div>
    <p>This place is located in a nice green part of the city with a beautiful tree laden road leading to the fort. However, the fort is not well maintained and needs up-gradation work to be taken urgently. The fort is decades old but it is now frequented by youngsters and elderly looking for solitude and peace.</p>
    <div class="location-img">
        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/07/87/f9/41/belapur-fort.jpg?w=1200&h=-1&s=1" alt="">
        <img src="https://www.tripnight.com/public/thumbs/monuments/7542/MKVS8GPhzkBf_468_738.jpg" alt="">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.3369845386605!2d73.02614851476517!3d19.004866859143466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c308747316fd%3A0x62627e1e095f42d9!2sBelapur%20Fort!5e0!3m2!1sen!2sin!4v1678553749260!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
 </div>

 <div class="location-detail" id="nerul">
    <h1>-> Chai Sutta Bar </h1>
        <div class="star-widget">
            <form action="#" id="review-form">
              <header></header>
              <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience.." id="ChaiSuttaBar"></textarea>

              </div>
              <div class="textarea" style="margin: 10px 0 0 0 ;  width:180px; height: 60px; font-size: 15px;" >
                <input type="number" placeholder="Ratings..1-5" id="rating_ChaiSuttaBar" min="1" max="5" required>
              </div>

              <div class="btn">
                <button type="button"  onclick="submitReview('Chai Sutta Bar', document.getElementById('ChaiSuttaBar').value , document.getElementById('rating_ChaiSuttaBar').value);  clear();">SUBMIT</button>
              </div>
            </form>
        </div>
    <p>Really awesome place to be here. You can spend much more of your time for the variety of delicious tea. Chali Sutta bar has unique identity which attracts people passing nearby. They have numerous varieties of tea. The special thing is they serve tea in clay cups which enhances the experience.</p>
    <div class="location-img">
        <img src="https://content.jdmagicbox.com/comp/mumbai/b8/022pxx22.xx22.211125104031.d1b8/catalogue/-khjw83bv7w.jpg?clr=3e2828" alt="">
        <img src="https://b.zmtcdn.com/data/pictures/chains/6/19310646/0558d76e7e7008daa42ef5c7d028142a.jpg?fit=around|750:500&crop=750:500;*,*" alt="">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.6087156942485!2d73.01663021490059!3d19.036956087110322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c3cf7915eee7%3A0xd93f6c5b4ecde952!2sChai%20Sutta%20Bar%20Nerul!5e0!3m2!1sen!2sin!4v1678555031448!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </div>
 </div>

 <div class="location-detail" id="nerul">
    <h1>-> Chanakya </h1>
        <div class="star-widget">
            <form action="#" id="review-form">
              <header></header>
              <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience.." id="Chanakya"></textarea>

              </div>
              <div class="textarea" style="margin: 10px 0 0 0 ;  width:180px; height: 60px; font-size: 15px;" >
                <input type="number" placeholder="Ratings..1-5" id="rating_Chanakya" min="1" max="5" required>
              </div>

              <div class="btn">
                <button type="button"  onclick="submitReview('Chanakya', document.getElementById('Chanakya').value , document.getElementById('rating_Chanakya').value);  clear();">SUBMIT</button>
              </div>
            </form>
        </div>
    <p>Training Ship Chanakya (also known as T.S. Chanakya or Indian Maritime University, Navi Mumbai Campus) located near the city of Mumbai, is a shore based successor to the Training Ship Rajendra (1972–1993) & Training Ship Dufferin (1927–1972), is situated off Palm beach road in an area of about 40 acres. T.S. Chanakya is the oldest and most renowned maritime academy in India.</p>
    <div class="location-img">
        <img src="https://i.ytimg.com/vi/48JnbHgb5uc/maxresdefault.jpg" alt="">
        <img src="https://static.toiimg.com/thumb/msid-88199994,width-1070,height-580,imgsize-76780,resizemode-75,overlay-toi_sw,pt-32,y_pad-40/photo.jpg" alt="">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.0037399530497!2d73.00436467525054!3d19.019556864848784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c38e53b17a8d%3A0xbc24d38b79fd5e0b!2sChanakya%20View%20Point!5e0!3m2!1sen!2sin!4v1678560365924!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>     </div>
 </div>

 <div class="location-detail" id="nerul">
    <h1>-> T-Spawn Gamer's Cafe </h1>
        <div class="star-widget">
            <form action="#" id="review-form">
              <header></header>
              <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience.." id="T-SpawnGamersCafe"></textarea>

              </div>
              <div class="textarea" style="margin: 10px 0 0 0 ;  width:180px; height: 60px; font-size: 15px;" >
                <input type="number" placeholder="Ratings..1-5" id="rating_T-SpawnGamersCafe" min="1" max="5" required>
              </div>

              <div class="btn">
                <button type="button"  onclick="submitReview('T-Spawn Gamers Cafe', document.getElementById('T-SpawnGamersCafe').value , document.getElementById('rating_T-SpawnGamersCafe').value);  clear();">SUBMIT</button>
              </div>
            </form>
        </div>
    <p>"240hz ESports Cafe in Nerul Specs: 240hz screen, i7-9700k, Zotac 2060Super, 16gb ram | 20pcs". The specifications are enough for the gamer.</p>
    <div class="location-img">
        <img src="https://content.jdmagicbox.com/comp/ludhiana/h7/0161px161.x161.190624165948.n4h7/catalogue/mofolactic-the-gaming-lounge-ludhiana-0poxoie6mk.jpg?clr=" alt="">
        <img src="https://content.jdmagicbox.com/comp/delhi/l6/011pxx11.xx11.190323054749.d4l6/catalogue/immortal-gaming-cafe-delhi-video-game-parlours-ben7brz142.jpg?clr=" alt="">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3171.5295256065756!2d73.01732470594052!3d19.03709866233513!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c1fef3d1b0bf%3A0xf316d2895ea5eb9c!2sT-Spawn%20Gamer&#39;s%20Cafe!5e0!3m2!1sen!2sin!4v1678555437592!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>     </div>

 <div class="location-detail" id="nerul">
    <h1>-> D.Y. Patil Stadium </h1>
        <div class="star-widget">
            <form action="#" id="review-form">
              <header></header>
              <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience.." id="DYPatilStadium"></textarea>

              </div>
              <div class="textarea" style="margin: 10px 0 0 0 ;  width:180px; height: 60px; font-size: 15px;" >
                <input type="number" placeholder="Ratings..1-5" id="rating_DYPatilStadium" min="1" max="5" required>
              </div>

              <div class="btn">
                <button type="button"  onclick="submitReview('DY Patil Stadium', document.getElementById('DYPatilStadium').value , document.getElementById('rating_DYPatilStadium').value);  clear();">SUBMIT</button>
              </div>
            </form>
        </div>
    <p> The DY Patil Stadium, is a multi-purpose sports arena in Navi Mumbai, Maharashtra. It is owned by Marathi politician Dnyandeo Yashwantrao Patil. It is based in the D.Y. Patil Sports Academy in Nerul. </p>
    <div class="location-img">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/D_Y_Patil_Sports_Stadium.jpg/1024px-D_Y_Patil_Sports_Stadium.jpg" alt="">
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/0d/48/0d/78/dypatil-stadium-situated.jpg" alt="">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30174.748292182703!2d73.01030817660552!3d19.026615025427375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c3c53b1e255b%3A0x3fa8b73a42118233!2sD%20Y%20Patil%20Sports%20Stadium!5e0!3m2!1sen!2sin!4v1678554319970!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </div>
 </div>
</section>
{% endblock %}