{% extends "ANYWHEREEVERYWHERE/html/layout.html" %}
{% block body %}
<section class="location-section">
    <div class="location-heading">
        <h1>Discover The <span>Beautiful World</span></h1>
    </div>

<div class="location-detail" id="vashi">
    <h1>VASHI</h1>
    <p>What is Vashi famous for?
     Vashi is well known for it cosmopolitan culture & educational institutes. Turbhe also houses an Agricultural Produce Market Committee (APMC) market where all the grocery items, food items, Rice, Lentils, Wheet, and different types of Spices are sold at a wholesale price.</p>
  <div class="location-img">
  </div>
  </div>


  <div class="location-detail" id="vashi">
    <h1>-> Mini Seashore</h1>
       <div class="star-widget">
            <form action="#" id="review-form">
              <header></header>
              <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience.." id="MiniSeashore"></textarea>

              </div>
              <div class="textarea" style="margin: 10px 0 0 0 ;  width:180px; height: 60px; font-size: 15px;" >
                <input type="number" placeholder="Ratings:1-5" id="rating_MiniSeashore" min="1" max="5" required>
              </div>

              <div class="btn">
                <button type="button"  onclick="submitReview('Mini Seashore', document.getElementById('MiniSeashore').value , document.getElementById('rating_MiniSeashore').value);  clear();">SUBMIT</button>
              </div>
            </form>
        </div>
    <p>This two kilometer stretch of Mini Seashore is an excellent all-season getaway. It is a well-known hangout for all age groups. Here you can enjoy morning walk, jog to keep fit, stroll through the lazy garden, enjoy a scenic view and a boat ride also. Overall an excellent place in Navi Mumbai.</p>
   <div class="location-img">
     <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/15/52/f0/88/img-20181110-173223-largejpg.jpg?w=1200&h=-1&s=1" alt="">
     <img src="https://media-cdn.tripadvisor.com/media/photo-s/11/e6/d8/a6/20180129-031722-largejpg.jpg" alt="">
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d235.6638353308534!2d72.99258614658453!3d19.0803780633636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c75a6666bff5%3A0xd16b8d1db1b37bd1!2sMini%20Seashore!5e0!3m2!1sen!2sin!4v1678562806460!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  </div>

  <div class="location-detail" id="vashi">
    <h1>-> Navaratna Vegetarian Restaurant </h1>
        <div class="star-widget">
            <form action="#" id="review-form">
              <header></header>
              <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience.." id="NavaratnaRestaurant"></textarea>

              </div>
              <div class="textarea" style="margin: 10px 0 0 0 ;  width:180px; height: 60px; font-size: 15px;" >
                <input type="number" placeholder="Ratings:1-5" id="rating_NavaratnaRestaurant" min="1" max="5" required>
              </div>

              <div class="btn">
                <button type="button"  onclick="submitReview('Navaratna Restaurant', document.getElementById('NavaratnaRestaurant').value , document.getElementById('rating_NavaratnaRestaurant').value);  clear();">SUBMIT</button>
              </div>
            </form>
        </div>
   <p>Navratna Veg Restaurant is an excellent restaurant that offers delicious vegetarian cuisine. The menu has a wide variety of options, all of which are incredibly flavorful and well-prepared. The staff is friendly and attentive, providing great service throughout the meal. The prices are very reasonable, making it a great value for money. The atmosphere is cozy and comfortable, perfect for a relaxed dining experience. Overall, Navratna Veg Restaurant is a must-visit for anyone looking for amazing vegetarian.</p>
  <div class="location-img">
     <img src="https://www.crazymasalafood.com/wp-content/images/unnamed-5-4.jpg" alt="">
     <img src="https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/y/a/p21273-1463660090573dae3a1c7a1.jpg?tr=tr:n-xlarge" alt="">
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.7826671964735!2d72.99594851490117!3d19.073290787089423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c14a0904b053%3A0xbe3557d0c76e7362!2sNavaratna%20Vegetarian%20Restaurant!5e0!3m2!1sen!2sin!4v1678563978215!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  </div>

  <div class="location-detail" id="vashi">
 <h1>-> Sagar Vihar</h1>
        <div class="star-widget">
            <form action="#" id="review-form">
              <header></header>
              <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience.." id="SagarVihar"></textarea>

              </div>
              <div class="textarea" style="margin: 10px 0 0 0 ;  width:180px; height: 60px; font-size: 15px;" >
                <input type="number" placeholder="Ratings:1-5" id="rating_SagarVihar" min="1" max="5" required>
              </div>

              <div class="btn">
                <button type="button"  onclick="submitReview('Sagar Vihar', document.getElementById('SagarVihar').value , document.getElementById('rating_SagarVihar').value);  clear();">SUBMIT</button>
              </div>
            </form>
        </div>
 <p>Its the western shore of Thane creek lined by mangroves with a sprawling garden adjoining it. This garden, officially christened Veer Savarkar Udyan but is popularly called Sagar Vihar Garden, extends upto the mini seashore and Rajiv Gandhi joggers track.
     There used to be a small port here from where hovercrafts used to run. What is left of it is a clear area offering a panoramic view of the creek and the 2 km long Vashi Bridge running across that connects megacity Mumbai to its satellite sister Navi Mumbai. The view of the sunset is particularly remarkable from this point. You would often see couples hanging out here in the evenings</p>
 <div class="location-img">
     <img src="https://images.hindustantimes.com/img/2022/01/01/1600x900/440dfe3e-6b04-11ec-91d4-61482b9ab8f1_1641042778347.jpg" alt="">
     <img src="https://media-cdn.tripadvisor.com/media/photo-s/0f/5b/37/00/long-pathway.jpg" alt="">
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7541.419617683902!2d72.98286762471557!3d19.076492348350357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c6c9619a3023%3A0x87405bde0685cca!2sSagar%20Vihar%2C%20Vashi%2C%20Navi%20Mumbai%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1678563762615!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    </div>
</div>

<div class="location-detail" id="vashi">
 <h1>-> Inorbit Mall </h1>
        <div class="star-widget">
            <form action="#" id="review-form">
              <header></header>
              <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience.." id="InorbitMall"></textarea>

              </div>
              <div class="textarea" style="margin: 10px 0 0 0 ;  width:180px; height: 60px; font-size: 15px;" >
                <input type="number" placeholder="Ratings:1-5" id="rating_InorbitMall" min="1" max="5" required>
              </div>

              <div class="btn">
                <button type="button"  onclick="submitReview('Inorbit Mall', document.getElementById('InorbitMall').value , document.getElementById('rating_InorbitMall').value);  clear();">SUBMIT</button>
              </div>
            </form>
        </div>
 <p>InOrbit Mall in Vashi is where you should head to for all your shopping, fun activities, events & great food. Find top brands like Westside, M&S, Chumbak, Miniso & more.</p>
 <div class="location-img">
     <img src="https://www.scai.in/wp-content/uploads/2019/09/inorbit-vashi3.jpg" alt="">
     <img src="https://files.lbb.in/media/2020/01/5e15c8648f99e3741d733f92_1578485860281.jpg" alt="">
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.953103973735!2d72.99876061490102!3d19.065799387093836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c14eedff19b7%3A0xd248c74091d961b8!2sInorbit%20Mall%20Vashi!5e0!3m2!1sen!2sin!4v1678564387951!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<div class="location-detail" id="vashi">
 <h1>-> Raghuleela Mall </h1>
        <div class="star-widget">
            <form action="#" id="review-form">
              <header></header>
              <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience.." id="RaghuleelaMall"></textarea>

              </div>
              <div class="textarea" style="margin: 10px 0 0 0 ;  width:180px; height: 60px; font-size: 15px;" >
                <input type="number" placeholder="Ratings:1-5" id="rating_RaghuleelaMall" min="1" max="5" required>
              </div>

              <div class="btn">
                <button type="button"  onclick="submitReview('Raghuleela Mall', document.getElementById('RaghuleelaMall').value , document.getElementById('rating_RaghuleelaMall').value);  clear();">SUBMIT</button>
              </div>
            </form>
        </div>
 <p>It's a huge and spacious mall, near vashi railway station. Various brands are available here. Food court is bigger and spacious too with many options.</p>
 <div class="location-img">
     <img src="https://mumbai.mallsmarket.com/sites/default/files/photos/malls/RaghuleelaMall_Vashi_1.jpg" alt="">
     <img src="https://images.mid-day.com/images/images/2015/feb/Raghuleela-mall.jpg" alt="">
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.99703251158!2d72.9947164149009!3d19.063868087094924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c6b66c119a5d%3A0x83fdef577bf0d764!2sRaghuleela%20Mall%20Vashi!5e0!3m2!1sen!2sin!4v1678564741644!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
 </div>
</section>
{% endblock %}