{% extends "ANYWHEREEVERYWHERE/html/layout.html" %}
{% block body %}
<section class="location-section">
    <div class="location-heading">
        <h1>Discover The <span>Beautiful World</span></h1>
    </div>

<div class="location-detail" id="westernmumbai">
    <h1>WESTERN MUMBAI</h1>
    </div>
    <p>The Western Suburbs is the western precinct of the city of Mumbai, India and The Western Suburbs are some of the oldest suburbs of the city. The Western Suburbs consist of Andheri, Bhayander, Borivali, Dahisar, Goregaon, Jogeshwari, Juhu, Kandivali, Khar, Malad, Mira Road, Santacruz and Vile Parle. Geographically, the Western Suburbs lie at the western part of Salsette Island.</p>
   </div>

 <div class="location-detail" id="westernmumbai">
    <h1>Malad-Aksa Beach</h1>
    <div class="star-widget">
            <form action="#" id="review-form">
              <header></header>
              <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience.." id="mabeach"></textarea>

              </div>
              <div class="textarea" style="margin: 10px 0 0 0 ;  width:180px; height: 60px; font-size: 15px;" >
                <input type="number" placeholder="Ratings..1-5" id="rating_mabeach" min="1" max="5" required>
              </div>

              <div class="btn">
                <button type="button"  onclick="submitReview('Malad-Aksa Beach', document.getElementById('mabeach').value , document.getElementById('rating_mabeach').value);  clear();">SUBMIT</button>
              </div>
            </form>
     </div>
    <p>Bounce Mumbai is spread over 40,000 sq. ft., made up more than 100 wall-to-wall trampolines where visitors can literally fly through the air and bounce off walls. Featuring Free jumping arena, Freestyle academy, X-park, Cliff jump, Slam dunk, Big Bag, Zip Line, Mini Bounce and over 20 exciting activities that offers fun, fitness & entertainment for all age groups.Akshe Beach is a popular beach and a vacation spot in Aksa village in Malad, Mumbai, India. It is situated close to Marvé Beach. It is a popular weekend destination. It is dotted with many private cottages and hotels, some of which are rented out to tourists and visitors.</p>
    <div class="location-img">
        <img src="https://mumbaitourism.travel/images/places-to-visit/headers/aksa-beach-mumbai-indian-tourism-entry-fee-timings-holidays-reviews-header.jpg" alt="">
        <img src="https://static.toiimg.com/photo/msid-35619930,width-96,height-65.cms" alt="">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7536.876497940386!2d72.79089687472151!3d19.176051698122293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b42e695a7097%3A0x48523c8334d8edf7!2sAksa%20Beach!5e0!3m2!1sen!2sin!4v1678565928848!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
 </div>

 <div class="location-detail" id="westernmumbai">
    <h1>Malad-Bounce </h1>
    <div class="star-widget">
            <form action="#" id="review-form">
              <header></header>
              <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience.." id="bounce"></textarea>

              </div>
              <div class="textarea" style="margin: 10px 0 0 0 ;  width:180px; height: 60px; font-size: 15px;" >
                <input type="number" placeholder="Ratings..1-5" id="rating_bounce" min="1" max="5" required>
              </div>

              <div class="btn">
                <button type="button"  onclick="submitReview('Malad-Bounce', document.getElementById('bounce').value , document.getElementById('rating_bounce').value);  clear();">SUBMIT</button>
              </div>
            </form>
     </div>
    <p>Bounce Mumbai is spread over 40,000 sq. ft., made up more than 100 wall-to-wall trampolines where visitors can literally fly through the air and bounce off walls. Featuring Free jumping arena, Freestyle academy, X-park, Cliff jump, Slam dunk, Big Bag, Zip Line, Mini Bounce and over 20 exciting activities that offers fun, fitness & entertainment for all age groups.</p>
    <div class="location-img">
        <img src="https://imgmedia.lbb.in/75576672_420190872000778_7475944856390018791_n_1575963056301.jpg" alt="">
        <img src="https://assets.cntraveller.in/photos/60ba1acf253686a607d32440/master/w_1600%2Cc_limit/JUNIOR-JUMPER-INDIA.jpg" alt="">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.245484970583!2d72.83152041490284!3d19.184477387025687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b740dbc13477%3A0xfe64bab56bf09db0!2sBOUNCE%20Inc%20Mumbai!5e0!3m2!1sen!2sin!4v1678565467461!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
 </div>

 <div class="location-detail" id="westernmumbai">
    <h1>Malad-Inorbit Mall</h1>
    <div class="star-widget">
            <form action="#" id="review-form">
              <header></header>
              <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience.." id="mimall"></textarea>

              </div>
              <div class="textarea" style="margin: 10px 0 0 0 ;  width:180px; height: 60px; font-size: 15px;" >
                <input type="number" placeholder="Ratings..1-5" id="rating_mimall" min="1" max="5" required>
              </div>

              <div class="btn">
                <button type="button"  onclick="submitReview('Malad-Inorbit Mall', document.getElementById('mimall').value , document.getElementById('rating_mimall').value);  clear();">SUBMIT</button>
              </div>
            </form>
     </div>
    <p>Inorbit Mall in Malad West is located at a prime location on New Link road. The Lower Malad Metro station connects it to the Metro. The mall has decent parking space at the backside of the mall. There are ample branded and regular shops present here. The food court is good. Malad Social is located here.</p>
    <div class="location-img">
        <img src="https://www.scai.in/wp-content/uploads/2019/09/inorbit-2.jpg" alt="">
        <img src="https://nuclearbits.com/wp-content/uploads/inox-screenx-malad-1024x577.jpg" alt="">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1884.2591763696842!2d72.8333111107349!3d19.172549324898334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b6f6245f5531%3A0x67cdbfe4c2cdd6ba!2sINOX%20Megaplex!5e0!3m2!1sen!2sin!4v1678566615184!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    </div>
    </div>
 </div>


 <div class="location-detail" id="westernmumbai">
    <h1>Andheri-ISKCON Temple</h1>
    <div class="star-widget">
            <form action="#" id="review-form">
              <header></header>
              <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience.." id="aiskcon"></textarea>

              </div>
              <div class="textarea" style="margin: 10px 0 0 0 ;  width:180px; height: 60px; font-size: 15px;" >
                <input type="number" placeholder="Ratings..1-5" id="rating_aiskcon" min="1" max="5" required>
              </div>

              <div class="btn">
                <button type="button"  onclick="submitReview('Andheri-ISKCON Temple', document.getElementById('aiskcon').value , document.getElementById('rating_aiskcon').value);  clear();">SUBMIT</button>
              </div>
            </form>
     </div>
    <p>Iskcon, A famous temple of Mumbai with presence world wide is on list of Mumbai attractions between tourist. Also called ‘Radha Rasabihariji temple’,’Radha Krishna temple’, Iskcon is at Juhu, Andheri West built on 1977, having per-presence of A.C. Bhaktivedanta Swami Prabhupada the founder of Iskcon for his love and preaching of ‘Srimad Bhagavatam’. ‘Bhagwat Geeta’ is another a spiritual book in India and concept of spreading love, provide food and live life in best way.</p>
    <div class="location-img">
        <img src="https://i.imgur.com/wqYrcDC.jpg" alt="">
        <img src="https://indiaongo.in/wp-content/uploads/2018/01/sri-sri-radha-rasabihari-iskcon-temple-mumbai.jpg" alt="">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.877802329912!2d72.82438731490173!3d19.11301598706669!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9e83c34362f%3A0x6d7c69d4f830e48!2sInternational%20Society%20for%20Krishna%20Consciousness%C2%AE%20(ISKCON%C2%AE%20-%20Juhu)!5e0!3m2!1sen!2sin!4v1678567758624!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
    </div>
 </div>

 <div class="location-detail" id="westernmumbai">
    <h1>Andheri-Mahakali Caves</h1>
    <div class="star-widget">
            <form action="#" id="review-form">
              <header></header>
              <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience.." id="amcaves"></textarea>

              </div>
              <div class="textarea" style="margin: 10px 0 0 0 ;  width:180px; height: 60px; font-size: 15px;" >
                <input type="number" placeholder="Ratings..1-5" id="rating_amcaves" min="1" max="5" required>
              </div>

              <div class="btn">
                <button type="button"  onclick="submitReview('Andheri-Mahakali Caves', document.getElementById('amcaves').value , document.getElementById('rating_amcaves').value);  clear();">SUBMIT</button>
              </div>
            </form>
     </div>
    <p>Mahakali Caves – The suburbs of Mumbai hide several groups of unique monuments – ancient rock-cut temples. One such monument is the ancient Kondivite Caves, later known as Mahakali caves.

        Mahakali caves are 19 rock-cut caves, built between the 1st century BC and 6th century AD. They are cut in black basalt. Unfortunately, the caves are on the verge of collapse</p>
    <div class="location-img">
        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/10/1d/7a/b7/img-20170801-wa0680-largejpg.jpg?w=1200&h=1200&s=1"" alt="">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6f/Mahakali_caves.jpg" alt="">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.543644031992!2d72.87031311490264!3d19.171443387033236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b7a19ca34acf%3A0xb040678f75f1ffe3!2sAarey%20Bhaskar%20Garden!5e0!3m2!1sen!2sin!4v1678569081451!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
 </div>

 <div class="location-detail" id="westernmumbai">
    <h1>Ghatkopar-R-City Mall</h1>
    <div class="star-widget">
            <form action="#" id="review-form">
              <header></header>
              <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience.." id="rcity"></textarea>

              </div>
              <div class="textarea" style="margin: 10px 0 0 0 ;  width:180px; height: 60px; font-size: 15px;" >
                <input type="number" placeholder="Ratings..1-5" id="rating_rcity" min="1" max="5" required>
              </div>

              <div class="btn">
                <button type="button"  onclick="submitReview('Ghatkopar-R-City Mall', document.getElementById('rcity').value , document.getElementById('rating_rcity').value);  clear();">SUBMIT</button>
              </div>
            </form>
     </div>
    <p>R CITY is one of the largest retail malls in Mumbai which is strategically located in the central suburb of Mumbai-Ghatkopar on LBS road. It is conveniently connected to all residential & commercial catchments like Powai, Vikhroli, Mulund, BKC & Andheri and is within 30-40 mins from all key destinations.

        This mall caters to the retail needs of the consumers in Food, Fashion & Entertainment category with a mix of 500+ premium & high-end brands like Lifestyle, Shoppers Stop, H&M, Marks & Spencer, Steve Madden, Charles & Keith, Super Dry, Vero Moda.It has 14 Anchor stores, 10+ mini-anchors, 220+ star & inline stores & 65+ F&B Outlets, luxury 9 screen Multiplex-INOX & 12+ Family entertainment brands</p>
    <div class="location-img">
        <img src="https://i.ytimg.com/vi/ErccLGfFdbk/maxresdefault.jpg" alt="">
        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0c/c5/7f/31/stating-of-mall.jpg?w=1200&h=-1&s=1" alt="">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.183532306032!2d72.91444121490153!3d19.09960278707442!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c7cb91a08e4b%3A0x10408c61181384c3!2sR%20City%20Mall!5e0!3m2!1sen!2sin!4v1678568500414!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    </div>
    </div>
 </div>

 <div class="location-detail" id="westernmumbai">
    <h1>Versova-PVR Icon</h1>
   <div class="star-widget">
            <form action="#" id="review-form">
              <header></header>
              <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience.." id="versovapvr"></textarea>

              </div>
              <div class="textarea" style="margin: 10px 0 0 0 ;  width:180px; height: 60px; font-size: 15px;" >
                <input type="number" placeholder="Ratings..1-5" id="rating_versovapvr" min="1" max="5" required>
              </div>

              <div class="btn">
                <button type="button"  onclick="submitReview('Versova-PVR Icon', document.getElementById('versovapvr').value , document.getElementById('rating_versovapvr').value);  clear();">SUBMIT</button>
              </div>
            </form>
     </div>
    <p>One of the best movie theatre in the western suburbs. Excellent sound & picture quality .Well maintained and therefore deserves the higher pricing.</p>
    <div class="location-img">
        <img src="https://dhoom.filmipop.com/media//theatre/2017/May/1493882569-Versova-Mall16.jpg" alt="">
        <img src="https://cdn.celluloidjunkie.com/wp-content/uploads/2016/04/19202624/DSCN1340-scaled.jpg" alt="">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d235.57727410239875!2d72.830934261192!3d19.14112726532893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b63d12bd7fe5%3A0x93942f8660574cac!2sInfiniti%20Mall%2C%20KL%20Walawalkar%20Marg%2C%20Phase%20D%2C%20Shastri%20Nagar%2C%20Andheri%20West%2C%20Mumbai%2C%20Maharashtra%20400053!5e0!3m2!1sen!2sin!4v1678568817912!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    
    </div>
 </div>

 <div class="location-detail" id="westernmumbai">
    <h1>Goregaon-Aarey Bhaskar Garden</h1>
    <div class="star-widget">
            <form action="#" id="review-form">
              <header></header>
              <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience.." id="aarey"></textarea>

              </div>
              <div class="textarea" style="margin: 10px 0 0 0 ;  width:180px; height: 60px; font-size: 15px;" >
                <input type="number" placeholder="Ratings..1-5" id="rating_aarey" min="1" max="5" required>
              </div>

              <div class="btn">
                <button type="button"  onclick="submitReview('Goregaon-Aarey Bhaskar Garden', document.getElementById('aarey').value , document.getElementById('rating_aarey').value);  clear();">SUBMIT</button>
              </div>
            </form>
     </div>
    <p>This is a huge beautiful garden and very well maintained I must say. People come in the morning to jog, walk, exercise and basically do all possible activities to stay fit. There is a small room within the garden where fitness classes like Zumba etc is conducted. They also have an amphitheater. In the mornings there is a juice stall as well inside the garden where they serve only healthy juices like amla, carrot, beetroot, tulsi, etc and is served along with a handful of sprouts. A very nice garden with trees covered all over giving a very pleasant and peaceful atmosphere. It is a great place to be in the mornings to kick start your day.</p>
    <div class="location-img">
        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/10/1d/7a/b7/img-20170801-wa0680-largejpg.jpg?w=1200&h=1200&s=1" alt="">
        <img src="https://content3.jdmagicbox.com/comp/mumbai/l9/022pxx22.xx22.170410090738.z9l9/catalogue/aarey-bhaskar-garden-gokuldham-goregaon-east-mumbai-parks-uzaygboqxu.jpg" alt="">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.543644031992!2d72.87031311490264!3d19.171443387033236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b7a19ca34acf%3A0xb040678f75f1ffe3!2sAarey%20Bhaskar%20Garden!5e0!3m2!1sen!2sin!4v1678569081451!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
 </div>
</section>
{% endblock %}